.navbar-fixed-top {
  position: relative;
}

.searchLine {
  width:100%;
  max-width: 1150px;
  margin: auto;
  margin-top: 15px;
  background: #fff;
  display: none;

  @media (min-width: $screen-md-min) {
    height: 82px;
    display: block;
  }

  input {
    width: 100%;
    margin: auto;
    display: block;
    position: relative;
    font-size: 25px ;
    font-weight: 200;
    font-family: 'MetaPro';
    color: $black;
    height: 82px;
    border-radius: 9px;
    border: 1px solid #ddddde;
    padding-left: 20px;
  }

  ::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: $black;
  }

  ::-moz-placeholder { /* Firefox 19+ */
    color: $black;
  }

  :-ms-input-placeholder { /* IE 10+ */
    color: $black;
  }

  :-moz-placeholder { /* Firefox 18- */
    color: $black;
  }

}

.newContainer {
  width: 100%;
  max-width: 1150px;
  display: none;
  clear: both;
  margin-top: 38px;

  @media (min-width:$screen-md-min) {
    display: block;
  }

  .newMain {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    float: left;

    article {
      margin: 0px 5px 29px 0px;
    }

    @media (min-width:$screen-md-min) {
      max-width: 628px;

      article {
        .panel-image {
          height: 398px;
        }

      }
    }

    @media (min-width:$screen-lg-min) {
      max-width: 728px;
    }

    .panel-content {

      .wrap {
        display: none;
      }
    }

    .paginationNew {
      width: 100%;
      max-width:728px;
      height: 66px;
      background: $white;
      border-radius: 8px;
      border: 1px solid #efeff3;
      line-height: 66px;
      font-size:20px;
      color: $black;
      text-align: left;

      .current,
      a,
      a:focus, a:hover {
        color: $black;
        margin: 0px 30px;
        font-family: 'MetaPro';
        font-weight: bold;
      }
    }
  }

  .sidebarNew {
    display: inline-block;
    vertical-align: top;
    width: 100%;
    max-width: 340px;
    float: right;

    @media (min-width: $screen-lg-min) {
      max-width: 374px;
    }

    .telegram {
      display: inline-block;
      vertical-align: top;
      background-image: url("../img/mobile/telegram.png");
      background-repeat: no-repeat;
      width: 340px;
      height: 206px;
      background-size: contain;
      position: relative;

      @media (min-width: $screen-lg-min) {
        width: 377px;
      }

      p {
        font-size: 24px;
        font-weight: 900;
        color: $white;
        text-transform: uppercase;
        padding: 29px 0px 0px 16px;
        line-height: 37px;

        @media (min-width: $screen-lg-min) {
          font-size: 28px;
          padding: 29px 0px 0px 16px;
          line-height: 37px;
        }
      }

      &:after {
        background-image: url("../img/mobile/telegramFlag.png");
        background-repeat: no-repeat;
        height: 104px;
        width: 43%;
        content: '';
        display: block;
        position: absolute;
        bottom: 26px;
        right: 0;
      }
    }

    .newtagCont {
      border: 1px solid #efeff3;
      border-radius: 8px;
      padding: 10px;
      margin: 20px 0px;

      .widgettitle {
        display: none;
      }
    }

    .cat-item {
      display: inline-block;
      vertical-align: top;
      list-style-type: none;
      border: 1px solid red;
      border-radius: 10px;
      padding: 8px 15px;
      margin: 0px 5px;

      a {
        text-decoration: none;
        color: $red;
        font-size: 18px;
        font-weight: 500;
      }
    }
  }
}


#primary222,
.content-areaNew{
  display: block;

  @media (min-width:$screen-md-min) {
    display: none;
  }
}

.neW {

  .newBgRed {
    display: inline-block;
    height: 57px;
    background:#ea1f1f ;
    position: absolute;
    color: $white!important;
    font-weight: 900;
    font-size: 25px;
    text-align: center;

    line-height: 57px;
    padding: 0 10px;
    border-radius: 6px 0 12px 0;
    position: relative;
    left: 2px;

    @media (min-width: $screen-lg-min) {
      left: 0px;
    }

    //line-height: 57px;
    //padding: 0px 10px;
    //border-radius: 12px 0px 12px 0px;

    a {
      color: $white!important;
      text-decoration: none;
      font-weight: 900;
    }
  }

  .entry-title {
    position: absolute;
    font-size: 42px;
    line-height: 54px;
    top:100px;
    font-weight: 900;
    color: $white!important;
    width: 88%;
    left: 17px;
    text-transform: uppercase;

    @media (min-width: $screen-md-min){
      width: 98%;
      left: 11px;
    }
  }

  .bottom-content {
    position: absolute;
    bottom: 15px;

    @media (min-width: $screen-lg-min) {
      bottom: -44px;
    }

    .postCalendar,
    .postView,
    .postViewData {
      display: inline-block;
      vertical-align: top;
      position: relative;
    }

    .postCalendar{
      left: 10px;

      span {
        position: relative;
        color: $white;
        font-size: 18px;
        font-weight: 900;
        left: 11px;
        top: -7px;
      }
    }

    .postView {
      left: 50px;

      span {
        position: relative;
        color: $white;
        font-size: 18px;
        font-weight: 900;
        left: 10px;
        top: -7px;
      }
    }

    .postViewData{
      left: 120px;

      span {
        position: relative;
        color: $white;
        font-size: 18px;
        font-weight: 900;
        left: 10px;
        top: -7px;
      }
    }
  }
}

.authoR {
  position: absolute;
  right: 0px;
  top:0px;
  color:$white;
  font-size: 18px;
  text-transform: capitalize;
  height: 55px;

  img {
    display: inline-block;
    position: relative;
    right: 27px;
    top:30px;

    @media (min-width: $screen-md-min) {
      top:20px;
      right: 30px;
    }
  }

  p {
    display: inline-block;
    position: relative;
    right: 27px;
    top:24px;
    font-weight: 900;

    @media (min-width: $screen-md-min) {
      top:14px;
    }
  }
}

.mini {

  #meme {
    max-width: 370px;
    height: 234px;

    .neW {
     height: 187px;
    }

    .entry-title {
      font-size: 25px;
      font-weight: 500;
      line-height: 32px;
      top:80px;
    }

    .bottom-content {

      img {
        width: 20px;
        top:0px;
        position: relative;
      }

      span {
        font-size: 13px;
        top:-3px;
      }
    }

    .hrefTypeTwo{
      width: 18px;
      height: 18px;
      background-size: contain;bottom: -39px;
    span {
      font-size: 13px;
      top:0px;
    }}

    .postView {
      display: none;
    }

    .postViewData {
      left: 50px;
      position: relative;
      top: 3px;
    }

    .newBgRed {
      height: 38px;
      line-height: 38px;
      left: 1px;

      a{
        font-size: 16px;
      }
    }

    .authoR {
      height: 37px;
    }

    .authoR p {
      top: 9px;
      font-size: 13px;
    }

    .authoR img {
      top: 13px;
      right: 30px;
      width: 18px;
    }


  }
}