/*General MAIN style*/

/*---------------------------------------
   Typography
-----------------------------------------*/
body {
  font-family: 'Roboto';
  background: $white;
}

/* FONT FACE LOADER */

@charset "UTF-8";

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-Thin.ttf') format ('ttf');
  font-weight: 100;
  font-style: normal;
}



@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-Light.ttf') format ('ttf');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-LightItalic.ttf') format ('ttf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-Regular.ttf') format ('ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-Medium.ttf') format ('ttf');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-Bold.ttf') format ('ttf');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Roboto';
  src: url('../fonts/roboto/Roboto-Bold.ttf') format ('ttf');
  font-weight: 700;
  font-style: italic;
}
/*
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-LightItalic.ttf') format ('ttf');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Italic.ttf') format ('ttf');
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.ttf') format ('ttf');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-SemiBold.ttf') format ('ttf');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-SemiBoldItalic.ttf') format ('ttf');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Bold.ttf') format ('ttf');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-BoldItalic.ttf') format ('ttf');
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-Regular.ttf') format ('ttf');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Open Sans';
  src: url('../fonts/OpenSans-ExtraBoldItalic.ttf') format ('ttf');
  font-weight: 900;
  font-style: italic;
}
*/
/* HEADINGS */

h1,
h2,
h3,
h4,
h5,
h6,
p{
  font-family: 'Roboto', sans-serif;
  font-weight: normal;
}

/*Wrapper*/
.container {
  min-width: 320px;
}

.content-area {
  margin: 10px;

  @media (min-width: $screen-md-min){
    margin: auto;
  }
}



.navbar-inverse {
  background-color: #191919;
}



/* Hides navigation links and site footer when infinite scroll is active */
.infinite-scroll #navigation,
.infinite-scroll.neverending #footer {
  display: none;
}
/* Shows the footer again in case all posts have been loaded */
.infinity-end.neverending #footer {
  display: block;
}

.post {
  header {
    background: transparent;
  }

  .post-thumbnail {
    a img {
      border: none;
      width: 100%;
    }
  }
}

.hrefTypeOne {
  background: $postcolor!important;
}
